/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */   
    background-attachment: fixed;
	/*filter: brightness(50%);
        -webkit-filter: brightness(50%);
        -moz-filter: brightness(50%);
        -o-filter: brightness(50%);
        -ms-filter: brightness(50%);*/ 
}
/* BG */


	#bg {
		background-image: url("../images/bg.jpg");
		background-position: center;
		background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
		z-index: 1;
		filter: brightness(50%);
        -webkit-filter: brightness(50%);
        -moz-filter: brightness(50%);
        -o-filter: brightness(50%);
        -ms-filter: brightness(50%);
	}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #0a6ebd;
}

/* Améliore le responsive des titres */
h1 {
    font-size: 5rem;
}

@media screen and (min-width: 640px) {
    #accordionPosts {
        display: none;
    }
    #accordionComments {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    #onlinePosts {
        display: none;
    }
    #reportedComments {
        display: none;
    }
}